model/
__pycache__/
__pycache__/
__pycache__/ecg_get_data.cpython-37.pyc
__pycache__/ECGplot.cpython-37.pyc
__pycache__/Net.cpython-37.pyc
__pycache__/train_test_validat.cpython-37.pyc
__pycache__/Models.cpython-37.pyc
__pycache__/self_attention.cpython-37.pyc
__pycache__/Net.cpython-37.pyc
train_test_validat.py
